body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    background-position: center;   
    position: relative; 
    
}

.home-page header, .new-post-page header {
    background-image: url("../assets/harley3.jpg");
}

header > * {
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    

}

.profile-image {
    width: 100px;
    height: 100px;
    /* background-color: blanchedalmond; */
    border-radius: 50%;
    background-image: url('../assets/profileJacob.jpg');
    background-size: cover;
    
}

.profile-name, .title {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
    
}

.main {
    /* background-color: bisque; */
    /* height: 100px; */
    margin-top: 32px;
    display: flex;
    justify-content: center;

}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;
    /* display: flex; */
    
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 12px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}

.post:hover {
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
    transition: all, 0.3s ease;
    transform: translate3d(0, -.5rem, 0);
}

.post-image {
    background-size: cover;
    flex-basis: 40%;
    background-position: center;
    overflow: hidden;

}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}



.post-date {
    font-size: 12px;
    font-family: monospace;
    color: #adb5bd;
    font-weight: 600;
}

.post-title {
    margin-top: 16px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;

}

.post-text {
    margin-top: 12px;
    color: #495057;
    font-size: 14px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    max-height: 65px;
    overflow: hidden;

}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

/* .add-post {
    position: relative;
    

} */



.new-post-button {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-button.new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #004186;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
    background-color: #002349;
}

.navigation a{
    text-decoration: none;
    color: #004186;
    padding: 5px 8px;
    border: 1px solid #004186;
    border-radius: 5px;

    /* height: 30px;
    width: 65px;
   
   
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; */
    

}